<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8" />
<title>Logs List According to the Log Level</title>
<link rel="stylesheet" type="text/css" th:href="@{/style.css}" />
</head>
<body>
	<h1>All Logs List</h1>
	<br />
	<br />
	<div>
		<table border="1">
			<tr>
				<th>Log Level</th>
			</tr>
			<tr>
				<td th:utext="${logLevel}"></td>
			</tr>
		</table>
		</br>
		<table border="1">
			<tr>
				<th>Logs Count</th>
				<th>Logs</th>
			</tr>
			<tr th:each="log : ${logs}">
				<td th:utext="${log.key}"></td>
				<td th:utext="${log.value}"></td> 
			</tr>
		</table>
	</div>
</body>
</html>